*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
}

.practice{
    border: 1px solid red;
}

.gray{
    color: rgb(139, 139, 139);
}

.nav-container{
    display: flex;
   justify-content: space-between;
   align-items: center;
    padding: 30px 50px;   
}

.logo{
 font-size: 24px;
 font-weight: bold;
 text-decoration: underline;
}

.nav-list{
    display: none;
    
}

.nav-list li > a{
      font-size: 12px;
      cursor: pointer;
      text-decoration: none;
}

.nav-list li> a:hover{
     color: black;
}

.hero-container{
    margin: 10px 20px;
  
}

.hero-container > p:nth-child(1){
    font-size: 24px;
      font-weight: 300;
      text-align: center;
}

.hero-container > p:nth-child(2){
    margin-top: 10px;
      font-weight: 300;
       text-align: center;

}

.hero-container > h1{
    font-size: 40px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.project-one{
    margin: 0 50px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr ;

}

.project-two{
    margin-top: 30px;
    grid-template-columns: 1fr;
}

.project-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.project-img:hover{
     filter: grayscale(100%);
     transition: all 0.5s ease;
}

.project-title, .project-type{
    text-align: center;
    margin-bottom: 10px;
}
.experince-container{
      margin: 10px 20px;

}
.experince-container > h3{
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

.experince-container > p{
  /* width: 800px; */
  line-height: 24px;
  margin-top: 15px;
  font-weight: 300;
   text-align: center;
  
}
.timeline-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 10px 20px;
    text-align: center;
}

.timeline-font{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}

.timeline-list >p:nth-child(2){
     font-weight: 300;
   
     margin-bottom:10px ;
}

.timeline-list >p:nth-child(3){
     font-weight: 300;
     font-size: 12px;
}

.footer-container{
    background-color: rgb(227, 227, 227);
    margin: 10px 20px;
    padding: 10px 20px;
    display: none;
}

.box{
    height: 200px;
    width: 200px;
    background-color: burlywood;
}



/* TAB SIZE */
@media (min-width:768px) {
 
.box{
  
    background-color: rgb(32, 196, 32);
}
}

/* DESKTOP & LAPTOP SIZE */
@media (min-width:1200px)   {

    .box{
  
    background-color: rgb(169, 32, 196);
}
  .nav-list{
    display: flex;
    gap: 25px;
    letter-spacing: 2px;
}

.nav-menu{
    display: none;
   }


.hero-container{
    margin: 80px 200px;
  
}

.hero-container > p:nth-child(1){
    font-size: 24px;
      font-weight: 300;
        text-align: left;

}

.hero-container > p:nth-child(2){
    margin-top: 10px;
      font-weight: 300;
       text-align: left;
}

.hero-container > h1{
    font-size: 70px;
    font-weight: 300;
    line-height: 82px;
     text-align: left;
}

.project-one{
    margin: 0 50px;
    gap: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.project-two{
    margin-top: 30px;
    grid-template-columns: 1fr 2fr;
}

.experince-container{
      margin: 80px 200px;

}
.experince-container > h3{
    font-size: 32px;
    text-align: left;
    font-weight: 300;
}

.experince-container > p{
  width: 800px;
  line-height: 24px;
  margin-top: 15px;
  font-weight: 300;
  text-align: left;
}

.timeline-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 80px 200px;
      text-align: left;

}


}

/* 7373712099 - powerhouse */